.categoryContainer{
    width: 30%;
    max-width: 30%;
    background-color: #fff;
    position: 'relative';
    overflow: 'auto';
    max-height: 350px;
    overflow-y: scroll;
    box-shadow: 2px 2px 4px rgba(75, 75, 75, 0.2);

    .list{
        
        background-color: #fff;
        
        .subheader{
            width: 100% !important;
            padding-top: 2px  !important;
            padding-bottom: 2px  !important;
            background-color: #fff;
        }
    }

    .nested{
        padding: 0 10%;
    }
}