.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  background: white;
  padding: 20px 30px;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.2);
}
.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  h5 {
    font-size: 1.3rem;
    font-weight: 400;
    color:black;
  }
  h5,
  h6 {
    margin: auto;
    color:black;
  }
  h6 {
    color: var(--fontLight);
    font-size: 1rem;
    font-weight: 300;
    color:black;
  }
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px !important;
    margin: auto;
  }
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  h4 {
    font-weight: 400;
    font-size: 1.5rem;
    color:black;
  }

  .addBtn {
    background: var(--primaryColor) !important;
    color: white;
    padding: 5px 15px !important;
  }
}
