.sliderBase{
    width: 160px !important;
    height:160px !important;
    text-align: center;
    margin-top:30px;
    
    img{
        width:160px !important;
        height:160px !important;
        border-radius: 80px !important;
        -webkit-border-radius: 80px !important;
        -moz-border-radius: 80px !important;
        background-size: cover;
        display: block;
    }
    h6{
        color:black;
        font-size: 1.0rem;
        padding-top:10px;
    }
    div{
        padding-top:5px;
        font-size: 12px;
        font-weight: 400;
        
    }
}
.slider{
    width:var(--fixedWidth);
    margin: auto;
    
    h4{
        font-weight: bold;
        font-size: 1.2rem;
        
    }
}