@import "../common.scss";

.container {
  display: flex;
  justify-content: space-between;
  min-height: 8vh;
  width: var(--fixedWidth);
  margin: auto;
  align-items: center;
}
.logo {
  width: fit-content;
  flex: 1;
  h3 a {
    color: var(--primaryColor) !important;
    span {
      color: black !important;
    }
  }
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  .navLink {
    text-decoration: none;
    list-style: none;
  }
}
