* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(assets/grocer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 3rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 900 !important;
}
