.sliderCard {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 0 !important;
}
.card {
  border-radius: 0 !important;
}
.outerDiv {
  background-size: cover;
  background-repeat: no-repeat;
}

.innerDiv {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white !important;
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.4);
  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 4rem !important;
    margin: 10px 0;
  }
  .showMoreBtn {
    color: white;
    font-weight: 600;
    background: var(--primaryColor) !important;
    padding: 5px 20px;
  }
}
